
body{
    background-color: #424242;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2em;
    color: #1BB5E0;
    text-align: center;

}

h3{
    text-align: center;
    
}

button{
    
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #013063;
}

 /* Estilos do Modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 40%;
    text-align: center;
    animation: fadeIn 0.5s;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: rgb(153, 149, 149);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.participantes{
    text-align: left;
    color: #1BB5E0;
}

.adicionar{
    text-align: left;
}

.abc{
    text-align: left;
    padding: 10px 20px;
    margin: 10px;
    float: left;
    border-radius: 15px;
}

.btn-adc{
    position: fixed;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
    transform: translate(-180%, 140%);
}

